.open-sans-inter{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
*{
    margin: 0px;
    padding: 0Px;
}
.nav-bar{
    display: flex;
    margin: 24px 0px;
    justify-content: space-around;
    align-items: center;
    
}
.nav-btn li{
    display: inline;
    margin-right: 40px;
}
.nav-btn li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
 .btn-btn{

    font-size: 20px;
    color: white;
    background-color: #469165 ;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    padding:18px 30px ;
 }

/* banner design */

.banner{
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
}

.banner-container{
  text-align: center;
  
}
.banner-container img{
  text-align: center;
  margin-right: 10px;
  
}

.banner .socile{
  font-size: 25px;
  color: #469165;
  background-color: white;
  padding: 5px 20px;
  width: fit-content;
  margin: 0 auto 20px; 
  border-radius: 50px;
}

.banner .socile-title{
  font-size: 85px;
  color: white;
  margin-bottom: 30px;
}

.banner .socile-title span{
  color: #469165;
}

.btn{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-btn{
  padding: 14px 30px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin-right: 10px;
}

.btn-primary{
  background-color: #2b6e47;
  color: white;
}

.btn-secondary{
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
}
