.open-sans-inter{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
*{
    margin: 0px;
    padding: 0Px;
}
.nav-bar{
    display: flex;
    margin: 24px 0px;
    justify-content: space-around;
    align-items: center;
    
}
.nav-btn li{
    display: inline;
    margin-right: 40px;
}
.nav-btn li a{
    text-decoration: none;
    color: #020101;
    font-size: 20px;
}
 .btn-btn{

    font-size: 20px;
    color: white;
    background-color: #469165 ;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    padding:18px 30px ;
 }

/* banner design */

.banner{
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
}

.banner-container{
  text-align: center;
  
}
.banner-container img{
  text-align: center;
  margin-right: 10px;
  
}

.banner .socile{
  font-size: 25px;
  color: #469165;
  background-color: white;
  padding: 5px 20px;
  width: fit-content;
  margin: 0 auto 20px; 
  border-radius: 50px;
}
.banner-text{
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 28px;
}

.banner .socile-title{
  font-size: 85px;
  color: white;
  margin-bottom: 30px;
}

.banner .socile-title span{
  color: #469165;
}

.btn{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-btn{
  padding: 14px 30px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin-right: 10px;
}
.btn-btn:hover{
  background-color: #24be64;
}

.btn-primary{
  background-color: #2b6e47;
  color: white;
}

.btn-secondary{
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 12px 20px;
}
.btn-secondary:hover{
  background-color: #00ff4863;
  color: #ffffff;
}


/* card section */

.about{
  
    max-width: 1360px;
    margin: 0px auto;
    padding-top: 50px;
}
.about-container{
    width: 70%;
    max-width: 1360px;
    margin: 0px auto;
    text-align: center;
}
.about-container h2{
    font-size: 52px;
    margin-bottom: 30px;
}
.about-container p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 44px;
}
.card-box .card img{
    background-color: #F95555;
    width: 50px;
    height: 50px;
    /* font-size: 60px; */
    border-radius: 50%;
    margin-top: 50px ;
    display: block;
    padding: 15px;
}
.card-box .card h3{
    font-size: 24px;
    margin-bottom: 20px;
}
.card-box{
    display: flex;
    gap: 24px;
}
.card{
    max-width: 274px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.097);
    justify-items: center;
}
/* resume section  */
.resume{
    width: 70%;
    max-width: 1360px;
    display: flex;
    margin: 120px auto;
    gap: 60px;
}
.resume-contan {
    margin: 102px 0;
}
.resume-contan .socile{
    font-size: 25px;
    margin-bottom: 16px;
    color: #469165;
}
.resume-contan h2{
    font-size: 50px;
    margin-bottom: 16px;
}
.resume-contan .paragrap-text{
    margin-bottom: 16px;
    line-height: 28px;
    color: #757575;
}
.paragrap .paragrap-item{
    display: flex;
    font-size: 18px;
    align-items: center;
    gap: 10px;
    line-height: 28px;
    margin: 12px 0; 
}

/*  Section last */
.last {
  margin-bottom: 120px;
}
.last-box {
    width: 70%;
    max-width: 1360px;
    background: #faf9f6;
    padding: 70px 40px;
    text-align: center;
    border-radius: 14px;
    margin: 0 auto;
}
.last-box h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 18px;
}

.last-subtitle {
    font-size: 16px;
    color: #555;
    line-height: 1.7;
    margin-bottom: 35px;
}
.note {
    margin-top: 20px;
    font-size: 18px;
    color: #777;
}
.footer{
  background-color:#031B31;
  padding-top: 100px;
  padding-bottom: 60px;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  margin: 0 120px ;

}
.footer-container .footer-img{
  /* margin-bottom: 12px; */
}
.footer-socile-icons{
  color: white;
  font-size: 20px;
  margin-right: 120px;
}
.footer-socile-icons .footer-text{
  font-size: 25px;
  margin-bottom: 10px;
}
.footer-socile-icons .footer-icons a{
  color: white;
  font-size: 16px;
  margin-right: 20px;
}
.footer-bottom{
  color: white;
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  
}

.hr{
  width: 80%;
  margin: 50px auto 0; 
  opacity: 0.3;
}






